.list {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.link,
.list {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
}

.customer-section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.container {
    min-width: 280px;
    min-height: 770px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    

    background-image: url(../images/customer-mobile.jpg);
    
}

.customer-title {
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33/28);

    margin-bottom: 20px;
}

.customer-text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16/14);
    margin-bottom: 32px;
}

.customer-review {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(19/16);
    margin-bottom: 42px;
    margin-top: 28px;
    
}

.customer-review-cont {
    width: 100%;
    min-height: 247px;   
    
}

.customer-item:not(:last-child) {
    margin-bottom: 24px;
}
